.infinitiefs_body {
  position: absolute;
  background-color: $bg-color;
  color: $contrast-color;
  width: 100vw;
  height: 100vh;
  cursor: default;

  .infinitiefs__grid {
    border: 1px solid gray;
    width: 105vw;
    margin-left: 10rem;
    margin-top: 16rem;
  }

  .infinitiefs__row {
  }

  .infinitiefs__row--element {
    background: transparent;
    width: 20%;
    float: left;
    border: none;
    padding: 1em;

    margin-right: 1.2rem;
    flex: 1;
    flex-grow: 1;

    .infinitiefs__row--principalContent {
      width: auto with 2rem margin-right and margin-left;
      display: block;
      position: absolute;

      .infinitiefs--word {
        display: block;
        margin: 0;
        color: $quaternary-color;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        transition: 0.4s;
        filter: grayscale(1);
        opacity: 1.3;

        &:hover {
          transition: 0.4s;
          text-shadow: -1px 0 $quaternary-color, 0 1px $quaternary-color, 1px 0 $quaternary-color, 0 -1px $quaternary-color;
          font-weight: 900;
          color: $quinary-color;
          text-align: center;
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    .infinitiefs__row--extraContent {
      display: hidden;
      transition: 0.4s;

      .infinitiefs--tword,
      .infinitiefs--icon_pencil,
      .infinitiefs--button_delete {
        border: none;
        position: absolute;
      }

      .infinitiefs--icon_pencil {
        width: 20px;
        height: 20px;
      }

      .infinitiefs--button_delete {
        background-color: transparent;
        color: #912929;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      &.active {
        display: block;
        position: absolute;
        transition: 0.4s;
      }
    }
  }
}
