.catchy_body {
  position: absolute;
  
  #catchy__bg {
    position: absolute;
    height: 100vh;
    width: 100vw;

    .catchy__form {
      margin-top: 12rem;
      margin-left: 12rem;
      position: absolute;

      .catchy__form--group {
        justify-content: center;

        .catchy__form--item {
          background: transparent;
          margin: 5px;

          .catchy__form--control {
            border: none;
            -webkit-appearence: none;
            outline: none;

            &[readonly] {
               cursor: default;
            }
          }
        }
        .catchy__form--button {
          visibility: hidden;
        }
      }
    }
  }
}
