<section class="home_body">
    <div id="home__bg">
        {{>navigation}}
        <a class="home__nameProject" style="pointer-events: none;">
            <span>h</span>
            <span>a</span>
            <span>b</span>
            <span>l</span>
            <span>a</span>
        </a>
        <hr class="home__floor">
    </div>
</section>

<script src="/js/index_functions.js" charset="utf-8"></script>
