<nav class="navBar_body">
    <div class="navBar__container">
        <li class="navBar__container--brand">
            <a href="/">
                <span>L</span>
                <span>e</span>
                <span>w</span>
                <span>e</span>
                <span>y</span>
                <span>s</span>
                <span>e</span>
            </a>
        </li>
        <!-- <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-ellipsis-h"></i>
        </label> -->
        <li class="navBar__container--about">
            <a href="/about">
                <span>a</span>
                <span>b</span>
                <span>o</span>
                <span>u</span>
                <span>t</span>
            </a>
        </li>
        <!-- <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
        </label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <ul class="navBar__container--menu">
            {{#if user}}
                <li class="navBar--menu__item">
                    <a href="/werkwoords/infinitiefs">
                        <span>W</span>
                        <span>o</span>
                        <span>r</span>
                        <span>d</span>
                        <span>s</span>
                    </a>
                </li>
                <li class="navBar--menu__item">
                    <a href="#">
                        <span class="navBar--body__item--separator"></span>
                    </a>
                </li>
                <!-- <li class="navBarmenu__item">
                    <a href="/notes/add">
                        <span>A</span>
                        <span>d</span>
                        <span>d</span>
                    </a>
                </li> -->
                <li class="navBar--menu__item">
                    <a href="/werkwoords/infinitiefs/testInfinitief">
                        <span>M</span>
                        <span>e</span>
                        <span>m</span>
                        <span>o</span>
                        <span>r</span>
                        <span>y</span>
                    </a>
                </li>
                <li class="navBar--menu__item navBar--menu__item--logout">
                    <a href="/users/logout">
                        <span>※</span>
                    </a>
                </li>
            {{else}}
                <li class="navBar--menu__item">
                    <a href="/users/signin">
                        <span>L</span>
                        <span>o</span>
                        <span>g</span>
                        <span>i</span>
                        <span>n</span>
                    </a>
                </li>
                <li class="navBar--menu__item">
                    <a href="#">
                        <span class="navBar--body__item--separator"></span>
                    </a>
                </li>
                <li class="navBar--menu__item">
                    <a href="/users/signup">
                        <span>S</span>
                        <span>i</span>
                        <span>g</span>
                        <span>n</span>
                        <span></span>
                        <span>U</span>
                        <span>p</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<script src="/js/navBar_functions.js" charset="utf-8"></script>
